* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.LoginForm {
    display: flex;
    flex-direction: column;
    
}
.IdForm, .PasswordForm ,.SubmitForm{
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px 10px;
}
.SubmitForm {
    background: #00acee;
    color: #fff;
}

.toggleForm {
    text-align: center;
    color: #00acee;
}
.SocialLogin {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    border-radius: 20px;
    padding: 10px;
}
.Nav {
    padding: 10px;
}
.Nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Nav ul li {
    list-style: none;
    margin-left: 30px;
}
.Nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.Nav ul li a:hover {
    padding: 10px;
    border-radius: 30px;
    background: #00acee;
}


.contents {
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
}

.input-file-button {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    color: #fff;
    cursor: pointer; 
    color: #00acee;
    margin-bottom: 20px;
}
.input-file-button:hover {
    padding: 10px;
    border-radius: 30px;
    background: #00acee;
    color: #fff;
}

.factoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  
.factoryInput__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .factoryInput__input {
    flex-grow: 1;
    height: 40px;
    padding: 0px 20px;
    color: #000;
    border: 1px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
  }
  
  .factoryInput__arrow {
    position: absolute;
    right: 0;
    background-color: #04aaff;
    height: 40px;
    width: 40px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
  }
.nweetEdit .formBtn {
    cursor: pointer;
        width: 100px;
        padding: 7px 20px;
        text-align: center;
        color: white;
        border-radius: 20px;
        background-color: #04aaff;
        cursor: pointer;
  }
  .cancelBtn {
    width: 100px;
    cursor: pointer;
    background-color: tomato;
  }
  .formInput {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
  }
  .nweets {
    margin-bottom: 40px;
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .nweets h4 {
    font-size: 14px;
  }
  
  .nweets img {
    right: -10px;
    top: 25px;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  
  .nweet__actions {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .nweet__actions span {
    cursor: pointer;
  }
  
  .nweet__actions span:first-child {
    margin-right: 10px;
  }
.ProfileForm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.ProfileName ,.ModifyProfile{
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
}
.ModifyProfile {
    margin-top: 20px;
    background: #00acee;
    color: #fff;
}
hr {
    text-align: center;
    margin : 30px;
}
.LogOutBtn {
    background: red;
    color: #fff;
}
.previewImg {
    margin-left: 50px;
}
